#root {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  --tint: rgba(50,255,255,.5);

  background:
    linear-gradient(var(--tint), var(--tint)),
    url('/wrapping_paper.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.card {
  padding: 2em;
}

/* main (Home.jsx) */

.main {
  display: flex;
  justify-content: center;
  gap: 2em;
}

.mainButtons {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.mainButton-About {
   background-color: rgba(205, 50,  205, .7);
   color: rgba(220,  255, 220,  .7);
   opacity: 0;
   animation: appear 0s ease forwards;
   animation-delay: 0.1s;
}

.mainButton-Builder {
   background-color: rgba(0,  155, 0,  .7);
   color: rgba(255, 255,  255, .7);
   opacity: 0;
   animation: appear 0s ease forwards;
   animation-delay: 0.2s;
}

.mainButton-Community {
   background-color: rgba(255, 255, 50,  .7);
   color: rgba(255, 50,  5, .7);
   opacity: 0;
   animation: appear 0s ease forwards;
   animation-delay: 0.3s;
}

.mainButton-Courses {
   background-color: rgba(50,  50,  255, .7);
   color: rgba(255, 255, 50, .7);
   opacity: 0;
   animation: appear 0s ease forwards;
   animation-delay: 0.4s;
}

.mainButton-Profile {
   background-color: rgba(255, 50,  50,  .7);
   color: rgba(50,  50,  255, .7);
   opacity: 0;
   animation: appear 0s ease forwards;
   animation-delay: 0.5s;
}

.logo {
  opacity: 0;
  animation: appear 1s ease forwards;
}

@keyframes appear {
  to {
    opacity: 1;
  }
}

/* global Home button */
.homeBtn {
 background-color: rgba(30, 235, 235, .7);
 animation: fromAbove 0.5s ease forwards; 
}

@keyframes fromAbove {
  from {
    transform: translate(0px, -1000px);
  }

  to {
    transform: translate(0px, 0px);
  }
}

/* Chat */

.chatButton {
  background: "#2563eb";
  color: "#fff";
  border: 0;
  border-radius: 8;
  padding: "8px 12px";
}

/* Draft.jsx */

.draft {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 0;
  overflow: auto;
}

.draft-course {
  background-color: hsl(299 68.7% 34.5%);
  color: hsl(0, 0%, 100%);
  transform: translate(1000px, 0px);
  animation: draft-enter 1s ease-in-out forwards;
}

.draft-section {
  background-color: hsl(167 63.5% 48.9%);
  color: hsl(0, 0%, 100%);
  transform: translate(1000px, 0px);
  animation: draft-enter 1s ease-in-out forwards;
  animation-delay: 0.5s;
}

.draft-lesson {
  background-color: hsl(49 100% 67.2%);
  color: hsl(0, 0%, 100%);
  transform: translate(1000px, 0px);
  animation: draft-enter 1s ease-in-out forwards;
  animation-delay: 0.75s;
}

@keyframes draft-enter {
  0% {
    transform: translate(1000px, 0px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

/* LogIn */

.loginInput {
  border-radius: 8px;
  margin: 8px;
  background-color: rgba(225, 70,  225, .7);
  color: rgba(220,  255, 220,  .7);
}

.loginBtn {
  background-color: rgba(205, 50,  205, .7);
  color: rgba(220,  255, 220,  .7);
}

/* course pages */

.courses {
  background-color: hsl(299 68.7% 34.5%);
  color: hsl(0, 0%, 100%);
  width: 100%;
}

.sections {
  background-color: hsl(167 63.5% 48.9%);
  color: hsl(0, 0%, 100%);
  width: 100%;
}
  
.lessons {
  display: grid;
  grid-template-columns: repeat(3, [less-col] 1fr);
  grid-template-rows:    [row-1] 10% [row-2] 10% [row-3] 80% [rows-end];
  gap: 2rem;
  height: auto;
}

.lessons-header {
  grid-column: less-col 1;
  grid-row:    row-2;
}

.lessons-list {
  grid-column: less-col 1;
  grid-row:    row-3;
}

.lessons-interact {
  grid-column: 2 / 4;
  grid-row:    row-3;
  width: auto;
}

.lessonBtn {
  background-color: hsl(49, 100%, 67.2%);
  color: hsl(0, 0%, 0%);
}

.exitChat {
  background-color: hsl(49, 100%, 67.2%);
  color: hsl(0, 0%, 0%);
  border-radius: 100px 8px 8px 100px;
  align-self: start;
}

.dynamicList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dynamicList li {
  list-style-position: inside;
  background-color: hsl(13, 56%, 53%);
  border-radius: 10px 0px;
  padding: 15px;
  margin-bottom: 10px;
  width: auto;
  height: auto;
  box-sizing: border-box;
  text-align: center;
  color: hsl(0, 0%, 100%);
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

.dynamicList li:hover {
  background-color: hsl(49 100% 67.2%);
  color: hsl(0, 0%, 0%);
  cursor: pointer;
}

.lessons-chat {
  margin: 8px;
  animation: expand 0.2s ease forwards;
}

@keyframes expand {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}   

@media (prefers-color-scheme: dark) {

}
