#root {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

/* main (Home.jsx) */

.main {
   /*
   display: grid;
   grid-template-columns: repeat(11, [main-col] 1fr);
   grid-template-rows:    repeat(7, [main-row] 1fr);
   gap: 1rem;
   */
}

.mainButton-About {
   grid-row:    main-row 4;
   grid-column: main-col 2;
}

.mainButton-Builder {
   grid-column: main-col 4;
   grid-row:    main-row 2;
}

.mainButton-Community {
   grid-column: main-col 6;
   grid-row:    main-row 6;
}

.mainButton-Courses {
   grid-column: main-col 8;
   grid-row:    main-row 2;
}

.mainButton-Profile {
   grid-column: main-col 10;
   grid-row:    main-row 4;
}

{/* @keyframes mainSpin {
   from { transform: rotate(0deg); }
   to   { transform: rotate(360deg); }
}

.main {
   animation: mainSpin 20s linear infinite;
} */}

/* shells */

.shell {
  grid grid-cols-1 gap-4 p-4 lg:grid-cols-[minmax(0,1fr)_minmax(0,2fr)]
}

/* course pages */

.courses {
  background-color: hsl(299 68.7% 34.5%);
  color: hsl(0, 0%, 100%);
  width: 100%;
}

.sections {
  background-color: hsl(167 78.5% 38.9%);
  color: hsl(0, 0%, 100%);
  width: 100%;
}
  
.lessons {
  display: grid;
  grid-template-columns: repeat(3, [less-col] 1fr);
  grid-template-rows:    [row-1] 10% [row-2] 10% [row-3] 80% [rows-end];
  gap: 2rem;
}

.lessons-header {
  grid-column: less-col 1;
  grid-row:    row-2;
}

.lessons-list {
  grid-column: less-col 1;
  grid-row:    row-3;
}

.lessons-interact {
  grid-column: less-col 2 / 4;
  grid-row:    row-3;
}

.dynamicList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dynamicList li {
  list-style-position: inside;
  background-color: hsl(0, 0%, 50%);
  border-radius: 10px 0px;
  padding: 15px;
  margin-bottom: 10px;
  width: 300px;
  height: 75px;
  box-sizing: border-box;
  text-align: center;
  color: hsl(0, 0%, 0%);
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

.dynamicList li:hover {
  background-color: hsl(0, 0%, 30%);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {

}
