#root {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  --tint: rgba(50,255,255,.5);

  background:
    linear-gradient(var(--tint), var(--tint)),
    url('/wrapping_paper.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.card {
  padding: 2em;
}

/* main (Home.jsx) */

.main {
  display: flex;
  justify-content: center;
  gap: 2em;
}

.mainButtons {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.mainButton-About {
   background-color: rgba(255, 50,  255, .7);
   color: rgba(220,  255, 220,  .7);
}

.mainButton-Builder {
   background-color: rgba(50,  255, 50,  .7);
   color: rgba(255, 255,  255, .7);
}

.mainButton-Community {
   background-color: rgba(255, 255, 50,  .7);
   color: rgba(255, 50,  5, .7);
}

.mainButton-Courses {
   background-color: rgba(50,  50,  255, .7);
   color: rgba(255, 255, 50, .7);
}

.mainButton-Profile {
   background-color: rgba(255, 50,  50,  .7);
   color: rgba(50,  50,  255, .7);
}

{/* @keyframes mainSpin {
   from { transform: rotate(0deg); }
   to   { transform: rotate(360deg); }
}

.main {
   animation: mainSpin 20s linear infinite;
} */}

/* course pages */

.courses {
  background-color: hsl(299 68.7% 34.5%);
  color: hsl(0, 0%, 100%);
  width: 100%;
}

.sections {
  background-color: hsl(167 63.5% 48.9%);
  color: hsl(0, 0%, 100%);
  width: 100%;
}
  
.lessons {
  display: grid;
  grid-template-columns: repeat(3, [less-col] 1fr);
  grid-template-rows:    [row-1] 10% [row-2] 10% [row-3] 80% [rows-end];
  gap: 2rem;
}

.lessons-header {
  grid-column: less-col 1;
  grid-row:    row-2;
}

.lessons-list {
  grid-column: less-col 1;
  grid-row:    row-3;
}

.lessons-interact {
  grid-column: less-col 2 / 4;
  grid-row:    row-3;
}

.dynamicList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dynamicList li {
  list-style-position: inside;
  background-color: hsl(0, 0%, 50%);
  border-radius: 10px 0px;
  padding: 15px;
  margin-bottom: 10px;
  width: 300px;
  height: 75px;
  box-sizing: border-box;
  text-align: center;
  color: hsl(0, 0%, 0%);
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

.dynamicList li:hover {
  background-color: hsl(0, 0%, 30%);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {

}
